<header class="app-header">
  <img src="assets/logo-face-gods.jpg" class="logo" alt="Face Gods" />
  <nav class="main-nav">
    <a routerLink="/" routerLinkActive="active">Inicio</a>
    <a routerLink="/categoria/sudaderas" routerLinkActive="active">Sudaderas</a>
    <a routerLink="/categoria/camisetas" routerLinkActive="active">Camisetas</a>
    <a routerLink="/categoria/punto" routerLinkActive="active">Punto</a>
    <a routerLink="/categoria/accesorios" routerLinkActive="active">Accesorios</a>
    <a routerLink="/categoria/pantalones" routerLinkActive="active">Pantalones</a>
    <a routerLink="/categoria/todos" routerLinkActive="active">Todos</a>
    <a routerLink="/cesta" routerLinkActive="active">🛒 Cesta</a>
  </nav>
</header>

<router-outlet></router-outlet>
